* {
  box-sizing: border-box;
}

:root {
  /* colors */
  --primary-color: #b9ff66;
  --secondary-color: #191a23;
  --grey-color: #f3f3f3;
  --white-color: #ffffff;

  /* font sizes */
  --font-size-regular: 18px;
  --font-size-medium: 20px;
  --font-size-large: 30px;
  --font-size-x-large: 40px;
  --font-size-xx-large: 60px;

  --spacing-small: 4px;
  --spacing-medium: 8px;
  --spacing-large: 16px;
  --spacing-x-large: 32px;
  --spacing-xx-large: 64px;
  --spacing-xxx-large: 128px;

  --button-border-radius: 16px;
}


/* ------BODY PROPERTY AND MAIN CONSTRAINS------- */
body {
  font-family: "Space Grotesk", sans-serif;
  background-color: var(--white-color);
}

p {
  font-size: var(--font-size-regular);
  font-weight: 400;
}

h1 {
  font-size: var(--font-size-xx-large);
  font-weight: 500;
}

h2 {
  font-size: var(--font-size-x-large);
  font-weight: 500;
}

h3 {
  font-size: var(--font-size-large);
  font-weight: 500;
}

h4 {
  font-size: var(--font-size-medium);
  font-weight: 500;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: var(--spacing-x-large) var(--spacing-xx-large) 0px var(--spacing-xx-large);
}

/* ------NAVIGATION BAR------- */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  gap: var(--spacing-x-large);
  align-items: center;
}

.nav__link {
  font-size: var(--font-size-medium);
  color: var(--secondary-color);
  text-decoration: none;
}

.button {
  height: 68px;
  width: fit-content;
  padding: 0 var(--spacing-x-large);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--button-border-radius);
  font-size: var(--font-size-medium);
  line-height: 1.4;
}

.button--primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.button--secondary {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.button--outline {
  background-color: transparent;
  border: 1px solid var(--secondary-color);
}

/* --------HERO SECTION--------- */
.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 70px;
  margin: var(--spacing-xx-large) 0px;
}

.hero__content {
  display: flex;
  height: 100%;
  flex: 1;
  flex-direction: column;
  gap: var(--spacing-x-large);
  justify-content: space-between;
}

.hero__title {
  width: 531px;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-color);
  line-height: 1.4;
}

.hero__description {
  width: 490px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--font-size-medium);
  color: var(--secondary-color);
  line-height: 1.4;
}

/* ------LOGOTYPES------ */
.logotypes {
  display: flex;
  justify-content: space-between;
  margin: var(--spacing-x-large) 0px;
  /* padding: 0px 100px 0px 100px; */
}

/* ------Section Headings------- */
.section--heading {
  display: flex;
  margin: var(--spacing-xx-large) 0px;
  /* margin-top: var(--spacing-xxx-large); */
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-xx-large);
}

.section--title {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: var(--spacing-medium);
  margin: 0;
  border-radius: 7px;
}

.section--description {
  color: var(--secondary-color);
  width: 580px;
}

/* ---------SERVICES BASE CARD-------- */
.services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-x-large);
  margin: var(--spacing-xx-large) 0px;
}

.services__card {
  height: 310px;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  border-radius: 50px;
  border: 1px solid var(--secondary-color);
  box-shadow: 0 5px 0 var(--secondary-color);
  /* background: var(--grey-color); */
}

.services__content {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: space-between;
}

.services__title {
  display: flex;
  flex-direction: column;
}

.services__title-line {
  width: fit-content;
  padding: 0px 7px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  border-radius: 7px;
}

.services__learn-more {
  display: flex;
  align-items: center;
  gap: 15px;
}

.services__text {
  font-size: var(--font-size-medium);
}

.services__img {
  width: 50%;
}

/* ------SERVICES FEATURES CARD--------- */

.service--green-card {
  background-color: var(--primary-color);
}

.service--green-card .services__title-line {
  background-color: var(--white-color);
  color: var(--secondary-color);
}

.service--grey-card {
  background-color: var(--grey-color);
}

.service--grey-card .services__title-line {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.service--black-card {
  background-color: var(--secondary-color);
}

.service--black-card .services__title-line {
  background-color: var(--white-color);
  color: var(--secondary-color);
}

.service--black-card .services__text {
  color: var(--white-color);
}


/* --------CTA SECTION--------- */
.cta {
  margin: var(--spacing-xx-large) 0px;
  padding: var(--spacing-xx-large) 0px;
}

.cta__card {
  width: 100%;
  height: 347px;
  background-color: var(--grey-color);
  border-radius: 45px;
  padding: var(--spacing-xx-large);
  display: flex;
  gap: 225px;
}

.cta__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x-large);
}

.cta__title {
  margin: 0px;
}

.cta__text {
  margin: 0px;
}

.cta__illustration {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------CASE STUDIES-------------- */
.case-studies {
  background-color: var(--secondary-color);
  border-radius: 45px;
  padding: var(--spacing-xx-large);
  display: flex;
  gap: var(--spacing-xx-large);
  margin: var(--spacing-xx-large) 0px;
}

.case-studies__card {
  display: flex;
  width: 286px;
  flex-direction: column;

}

.case-studies__description {
  color: var(--white-color);
  margin: 0px;
}

.case-studies__learn-more {
  display: flex;
  align-items: center;
  gap: 15px;
}

.case-studies__learn-more-text {
  color: var(--primary-color);
}

/* ----------GUIDANCE SECTION--------------- */
.guidance {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x-large);
}

.guid__card {
  padding: 41px 60px;
  background-color: var(--grey-color);
  border: 1px solid var(--secondary-color);
  border-radius: 45px;
  box-shadow: 0px 5px 0px 0px var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.guid__label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--font-size-x-large);
}

.guid__number {
  font-size: var(--font-size-xx-large);
  font-weight: 500;
}

.guid__title {
  font-size: var(--font-size-large);
  font-weight: 500;
}

/* -------------TEAM SECTION------------- */

.team__card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(2, 371px); */
  gap: 40px;
}

.team__card {
  background-color: transparent;
  border-radius: 45px;
  border: 1px solid var(--secondary-color);
  box-shadow: 0 5px 0 var(--secondary-color);
  padding: 40px 35px;
}

.person__detail {
  display: flex;
  gap: 20px;
}

.person__title {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.person {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x-large);
}

.person__name {
  margin: 0;
}

.person__role {
  margin: 0;
}

.person__linkdin {
  position: relative;
  top: -26px;
  left: 180px;
}

.person__bio {
  margin: 0;
}

.see-team__button {
  position: relative;
  left: 1037px;
  margin: 40px 0px;
  padding: 20px 35px;
  height: 68px;
  width: 275px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--button-border-radius);
  font-size: var(--font-size-medium);
  line-height: 1.4;
}

/* ---------TESTIMONIALS BLOCK--------- */
.testimonials__block {
  width: 100%;
  /* height: 625px; */
  border-radius: 45px;
  background-color: var(--secondary-color);
  padding: 80px 0 40px;
  overflow: hidden;
}

.testimonials__track {
  display: flex;
  gap: var(--spacing-xx-large);
  transform: translateX(-250px);
}

.testimonial {
  width: 600px;
  flex-shrink: 0;
}

.testimonial__bubble {
  position: relative;
  border: 1px solid var(--primary-color);
  border-radius: 45px;
  /* height: 287px; */
  padding: 48px;
}

.testimonial__bubble p {
  color: var(--white-color);
  line-height: 1.4;
  margin: 0;
}


.testimonial__author {
  margin-top: 40px;
  margin-left: 70px;
}

.testimonial__author h4 {
  color: var(--primary-color);
  margin-bottom: 6px;
}

.testimonial__author p {
  color: var(--white-color);
}

.testimonials__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 80px;
}

.dots {
  display: flex;
  height: 25px;
  gap: 12px;
}


/* -----------CONTACT US---------- */

.contact-us {
  width: 100%;
  height: 775px;
  background-color: var(--grey-color);
  border-radius: 45px;
  gap: 10px;
  display: flex;
  padding: 60px 100px;
  overflow: hidden;
}

.contact-us__form {
  /* flex: 1; */
  /* border: 2px solid black; */
  width: 556px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact-us__form p {
  margin: 0;
}

.contact-us__radio-group {
  display: flex;
  gap: 35px;
}

.contact-us__radio {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.contact-us__radio input {
  display: none;
}

.contact-us__radio-custom {
  width: 28px;
  background-color: var(--white-color);
  height: 28px;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  position: relative;
}

.contact-us__text-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-us__text-field input {
  height: 59px;
  padding: 18px 30px;
  border: 1px solid var(--secondary-color);
  border-radius: 14px;
  font-size: var(--font-size-regular);
  font-family: inherit;
  outline: none;
}

.contact-us__text-field textarea {
  width: 100%;
  height: 190px;
  padding: 18px 30px;
  border: 1px solid var(--secondary-color);
  border-radius: 14px;
  font-size: var(--font-size-regular);
  font-family: inherit;
  resize: none;
  outline: none;
  box-sizing: border-box;
}

.contact-us__form button {
  width: 100%;
}

.contact-us__illustration {
  width: 500px;
  position: absolute;
  left: 1240px;
}

/* ----------FOOTER----------- */
.footer {
  width: 100%;
  height: 550px;
  background-color: var(--secondary-color);
  border-radius: 45px 45px 0px 0px;
  margin-top: var(--spacing-xxx-large);
  padding: var(--spacing-xx-large);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.footer-navigation {
  flex: 1;
  /* border: 2px solid white; */
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xx-large);
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.footer-nav__navbar {
  display: flex;
  gap: 40px;
  align-items: center;
}

.footer-nav__link {
  font-size: var(--font-size-medium);
  color: var(--white-color);
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 4px;
}

.footer-contact {
  display: flex;
  width: 100%;
  gap: 180px;
}

.footer-contact__details {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.footer-contact__details h4 {
  margin: 0;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 7px;
  padding: 0px 7px;
  width: fit-content;
}

.footer-contact__details p {
  margin: 0;
  color: var(--white-color);
  width: 332px;
}

.footer-contact__button {
  flex: 1;
  background-color: #292A32;
  border-radius: 14px;
  gap: 20px;
}

.footer-contact__form {
  display: flex;
  gap: 20px;
  padding: 58px 40px;
}

.footer-contact__form input {
  flex: 1;
  border-radius: 14px;
  border: 1px solid var(--white-color);
  background: transparent;
  color: var(--white-color);
  padding: 20px 35px;
}

.footer-contact__form input::placeholder {
  font-size: var(--font-size-regular);
  color: var(--white-color);
}

.footer-copyright {
  flex: 1;
  /* border: 2px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.copyright-text {
  display: flex;
  gap: 20px;
}

.copyright__text {
  margin: 0;
  color: var(--white-color);
}

.copyright__privacy-policy {
  color: var(--white-color);
  font-size: var(--font-size-regular);
  text-underline-offset: 2px;

}